body{
    margin: 0;
    padding: 10px;
}

.content{
    margin:3px auto;
    width: 90%;
    height: 100%;
    box-shadow: 0px 0px 3px 2px rgba(31, 24, 26, 0.30);
    border-radius: 4px;
    padding: 10px;
}

footer, header{
    text-align: center;
    box-shadow: 0px 0px 3px 2px rgba(31, 24, 26, 0.30);
    border-radius: 4px;
    padding: 10px;
    height: 100%;
    width: 80%;
    margin:0 auto;
}